body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(7, 7, 66);
  color: antiquewhite;
  font-size: 1.2rem;
  /* box-sizing: border-box; */
}

header {
  margin-bottom: 2rem;
}

#emails-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 80vw;
}
label {
  padding-bottom: 0.5rem;
}

input,
textarea,
button {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
}

button {
  background-color: antiquewhite;
}

#render-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding: 1rem;
}

.success {
}

.error {
  background-color: red;
  margin-top: 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: justify;
}
