body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(7, 7, 66);
  color: antiquewhite;
}

header {
  margin-bottom: 2rem;
}

#emails-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}
label {
  padding-bottom: 0.5rem;
}

input,
textarea,
button {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
}

button {
  background-color: antiquewhite;
}
